@import url("../app.css");

body {
    height: 100vh;
    background-color: var(--escuro-principal);
    color:white;
    overflow: hidden;
}

input {
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4) !important;
    outline: none !important;
    color: white !important;
    background-color: var(--escuro-secundario) !important;
    width: 20rem;
}

button{
    width: 20rem;
}

::placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
}

input:focus {
    box-shadow: none !important;
}

.wrapper{
    margin-top:-2rem;
}