/* -------------------------- FONTS -------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* -------------------------- VARS -------------------------- */
:root {
    /* Light Theme Colors */
    --light-1: #fafafa;
    --light-2: #f4f4f5;
    --light-3: #e4e4e7;

    /* Dark Theme Colors */
    --dark-1: #18181b;
    --dark-2: #27272a;
    --dark-3: #3f3f46;

    /* Accent Colors */
    --orange-1: #f59e0b;
    --orange-2: #d97706;
    --blue-1: #3b82f6;
    --blue-2: #2563eb;
    --purple-1: #a855f7;
    --purple-2: #9333ea;
    --red-1: #ef4444;
    --red-2: #dc2626;

    /* Fonts */
    --font-1: 'Roboto Condensed', sans-serif;
    --font-2: 'Open Sans', sans-serif;
    --font-3: 'Montserrat', sans-serif;
    --font-h1: 'Barlow Condensed', sans-serif;
    --font-h2: 'Lato', sans-serif;

    /* Light Theme */
    --background-color: var(--light-3);
    --text-color: #444;
    --text-color-variant-1: #555;
    --bg-variant-1: var(--light-2);
    --bg-variant-2: var(--light-1);
}

/* -------------------------- LIGHT THEME -------------------------- */
body {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}

.bg-color{
    background-color: var(--background-color) !important;
}

.bg-variant-1 {
    background-color: var(--bg-variant-1);
}

.bg-variant-2 {
    background-color: var(--bg-variant-2);
}

/* -------------------------- DARK THEME -------------------------- */
body.dark-theme {
    --background-color: var(--dark-1);
    --text-color: #fff;
    --text-color-variant-1: #9b9b9b;
    --bg-variant-1: var(--dark-2);
    --bg-variant-2: var(--dark-3);
}

/* -------------------------- GENERAL CONFIGS -------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

p,
span, 
body {
    font-family: var(--font-1) !important;
}

h1 {
    font-family: var(--font-h1) !important;
}

a {
    font-family: var(--font-3) !important;
}

h4,h3 {
    font-family: var(--font-h2);
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

.btn-blue,
.btn-blue:hover,
.btn-orange,
.btn-orange:hover,
.btn-red,
.btn-red:hover,
.bg-dark-2,
.bg-dark-3,
.btn-purple,
.bg-dark-1 {
    color: white;
}

.painel:hover {
    font-weight: bold;
    background-color: white !important;
    color: var(--orange-1) !important;
}

.footer-li {
    list-style-type: none;
}

.footer-a {
    text-decoration: none;
    color: white;
}

/* -------------------------- BUTTONS -------------------------- */
.btn {
    font-family: var(--font-3) !important;
}

.btn-purple {
    background-color: var(--purple-1) !important;
    border-color: var(--purple-1) !important;
}

.btn-purple:hover {
    background-color: var(--purple-2) !important;
    border-color: var(--purple-2) !important;
}

.btn-blue {
    background-color: var(--blue-1) !important;
    border-color: var(--blue-1) !important;
}

.btn-blue:hover {
    background-color: var(--blue-2) !important;
    border-color: var(--blue-2) !important;
}

.btn-orange {
    background-color: var(--orange-1) !important;
    border-color: var(--orange-1) !important;
}

.btn-orange:hover {
    background-color: var(--orange-2) !important;
    border-color: var(--orange-2) !important;
}

.btn-red{
    background-color: var(--red-1) !important;
    border-color: var(--red-1) !important;
}

.btn-red:hover{
    background-color: var(--red-2) !important;
    border-color: var(--red-2) !important;
}

/* -------------------------- BACKGROUNDS -------------------------- */
.bg-blue-1 {
    background-color: var(--blue-1);
}

.bg-blue-2 {
    background-color: var(--blue-2);
}

.bg-orange-1 {
    background-color: var(--orange-1);
}

.bg-orange-2{
    background-color: var(--orange-2);
}

.bg-red-1{
    background-color: var(--red-1);
}

.bg-red-2{
    background-color: var(--red-2);
}
